@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div  id="Goals" class="panel panel-default in">
            <div class="panel-heading "><h3>Home</h3></div>
            <div class="panel-body">
             <p class="lead">   We solve all complex business problems in a heartbeat.... </p>
                <p>Do you need a website? A specialized business application? or just a mobile phone App.</p>
                </div>
            </div>
        </div>