@{
    ViewBag.Title = "Index";
}


 <section class="container">
        <div class="col-md-6">
        <ul class="list-group list-group-default">

            <li class="list-group-item">My name</li>
             <li class="list-group-item">My subjects</li>
        </ul>

            </div>
     <div class="col-md-6">

         <img src="~/Content/shahid.jpg" class="img-responsive" />
     </div>

        <div id="results">


        </div>
    </section>
