@{
    ViewBag.Title = "TimeSheet";
}

<div class="container">
    <div class="row">
       <div class="col-md-12"> <h2>TimeSheet</h2></div>

    </div>
    <div class="row">
       <div class="col-md-4"> <label>Start Date:</label><input id="startDate" type="text" value="" ng-model="startDate" /> </div>
         <div class="col-md-4"> <label>End Date:</label><input id="endDate" type="text" value="" ng-model="endDate" /> </div>
       <div class="col-md-4"> <input type="button"  value="Show Report" ng-click="getReport();"/></div>
    </div>
    <div class="row">
    
        <div class="col-md-12 ">
            <div class="well">
        <div class="gridStyle" id="timesheetTable" ng-grid="GridOptions"></div>
                </div>
    </div>
    </div>
    </div>